.user-page {
  background-color: #f8f9fa;
}

.tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.tag-pill {
  background: #e0e0e0;
  padding: 4px 10px;
  border-radius: 12px;
  font-size: 0.85rem;
  display: inline-flex;
  align-items: center;
}

.tag-pill span {
  margin-left: 6px;
  cursor: pointer;
}

.three-dot-menu {
  cursor: pointer;
}

.dropdown-toggle::after {
  display: none !important;
}
.wrapper-model {
  border-radius: 20px;
  padding: 10px;
}
.wrapper-model-item {
  font-size: 14px !important;
  margin-bottom: 10px;
}
.wrapper-model-item:hover {
  border-radius: 8px !important;
}
.wrapper-contact {
  font-size: 14px !important;
  font-weight: 600;
}
.wrapper-contact span {
  font-size: 12px !important;
  font-weight: 500;
}
