.section-container {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.sections-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-bottom: 40px;
    margin: 0 20px;
}

.section-heading {
font-size: 18px;
font-weight: 600;
padding-left: 5px;
}

.items-container {
    display: flex;
    flex-direction: column;
    gap: 26px;
    padding: 22px;
    border-radius: 14px;
    background-color: white;
    border: 1px solid #E9E7EA;
    box-shadow: 0px 1px 2px 0px #0000000D;
    box-shadow: 0px 1px 2px 0px #A4ACB933;

}

.item-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.item-title {
    font-size: 16px;
    font-weight: 500;
}

.item-left-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}