.analytics-container h4 {
  font-weight: bold;
}

.card {
  border-radius: 10px;
  border: none;
}

.card h5 {
  font-size: 1.5rem;
  font-weight: 600;
}
.g-card svg {
  width: 25px;
  height: 25px;
}
.g-card h5 {
  font-size: 32px;
}
.g-map svg {
  width: 100%;
}

.country-card {
  font-family: "Segoe UI", sans-serif;
  border-radius: 12px;
  background: #fff;
  position: relative;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
}

.dot.red {
  background-color: #ff6b6b;
}

.chart-wrapper {
  width: 80px;
  height: 30px;
}

.g-card svg {
  background: #c2c2c242;
  height: 36px;
  width: 36px;
  padding: 10px;
  border-radius: 50%;
}
.g-card-heading {
  font-size: 1.125rem;
  font-weight: 600;
}
.text-green {
  color: #2d8a7d;
  font-weight: 600;
}
.weight-600 {
  font-weight: 600;
}
.rounded-8px {
  border-radius: 8px;
}
