nav {
  // background-color: #f5f8fa;
  background-color: #fff;
  min-width: 300px;
  width: 25vh;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  transform: translateX(-100%);
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  z-index: 100;
  padding: 1rem 0;
  border-right: 1px solid #e7eaf3;
  overflow: auto;

  @include responsive($desktop-breakpoint) {
    position: fixed;
    min-width: $navWidth;
    // width: $navWidth;
    // transform: translateX(0);

    .logo-wrapper {
      width: auto;
      padding: 0 1rem;
    }
  }

  .menu-hamburger {
    position: absolute;
    right: 1rem;
    top: 1rem;
  }

  &.active {
    transform: translateX(0);
  }

  p {
    color: $secondary-color;
    letter-spacing: 0.5px;
    font-size: 0.7rem;
    padding: 0 1rem;
    text-transform: uppercase;
    font-weight: 700;
  }

  .navLink {
    width: 100%;
    color: $text-grey;
    transition: all 0.3s ease;
    font-size: 0.9rem;
    font-weight: 500;
    padding: 5px 20px;
    letter-spacing: 0px;
    border-left: 4px solid transparent;

    svg {
      margin-right: 10px;
      height: 16px;
      width: 16px;
    }

    &.active,
    &:hover {
      color: $primary-color;
      border-left: 4px solid $primary-color;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }
  }
}

nav::-webkit-scrollbar {
  width: 3px;
}

nav::-webkit-scrollbar-thumb {
  background-color: lighten($color: $primary-color, $amount: 30);
  // outline: 1px solid slategrey;
  border-radius: 10px;
}
