nav {
  background-color: #f9fbfd;
  min-width: 300px;
  width: 25vh;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  transform: translateX(-100%);
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  z-index: 100;
  padding: 1rem 0;

  @include responsive($desktop-breakpoint) {
    position: fixed;
    min-width: $navWidth;
    // width: $navWidth;
    transform: translateX(0);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: auto;

    // this is to hide scroll bar 
    // &::-webkit-scrollbar {
    //   width: 0;
    // }

    -ms-overflow-style: none;
    scrollbar-width: none;

    .logo-wrapper {
      width: auto;
      padding: 0 1rem;
    }
  }

  .menu-hamburger {
    position: absolute;
    right: 1rem;
    top: 1rem;
  }

  &.active {
    transform: translateX(0);
  }

  p {
    color: $secondary-color;
    letter-spacing: 0.5px;
    font-size: 0.7rem;
    padding: 0 1rem;
    text-transform: uppercase;
    font-weight: 700;
  }

  .navLink {
    width: 100%;
    color: $text-grey;
    transition: all 0.3s ease;
    font-size: 1rem;
    font-weight: 500;
    padding: 5px 20px;
    font-weight: 600;
    letter-spacing: 0px;
    border-left: 4px solid transparent;

    svg {
      margin-right: 10px;
      height: 16px;
      width: 16px;
    }

    &.active,
    &:hover {
      color: $primary-color;
      border-left: 4px solid $primary-color;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }
  }
}