nav {
  background-color: $white-color;
  min-width: 300px;
  width: 25vh;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  transform: translateX(-100%);
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  z-index: 100;
  padding: 1rem 0;
  border-right: 1px solid rgba(#000, $alpha: .25);

  @include responsive($desktop-breakpoint) {
    position: fixed;
    min-width: $navWidth;
    // width: $navWidth;
    transform: translateX(0);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: transparent;

    .logo-wrapper {
      width: auto;
      padding: 0 1rem;
    }
  }

  .menu-hamburger {
    position: absolute;
    right: 1rem;
    top: 1rem;
  }

  &.active {
    transform: translateX(0);
  }

  p {
    color: $secondary-color;
    letter-spacing: 0.5px;
    font-size: 0.7rem;
    padding: 0 1rem;
    text-transform: uppercase;
    font-weight: 700;
  }

  .navLink {
    // background-color: red;
    width: 100%;
    // color: $light-dark;
    color: #555;
    // letter-spacing: 2px;
    transition: all 0.3s ease;
    font-size: 1rem;
    padding: 3px 20px;
    letter-spacing: 0.2px;

    svg {
      margin-right: 10px;
      height: 20px;
      width: 20px;
    }

    &.active,
    &:hover {
      color: $primary-color;
      font-weight: 600;
      border-left: 4px solid $primary-color;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }
  }
}