$primary-color: #2c7be5;
$ripple-color: #2c7be5;
$secondary-color: #2c7be5;
$text-primary: #12263f;
$text-grey: #677788;
$text-muted: #95aac9;
$input-border: #d2ddec;
$light-color: rgb(207, 207, 207);
$white-color: rgb(255, 255, 255);
$grey-color: #8c98a4;
$dark-color: rgb(0, 0, 0);
$light-dark: #6f6f6f;
$navWidth: 13rem;
// break points
$desktop-breakpoint: 800px;
$large-screen-breakpoint: 1280px;
$success-bg: rgba(0, 201, 167, 0.1);
$success-color: #00c9a7;

//bootstarp changes
$theme-colors: (
  "primary": #2c7be5,
  "text-primary": #12263f,
  "text-muted": #95aac9,
  "secondary": #2c7be5,
  "success": rgb(49, 214, 123),
);
