*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "./variables";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./chatbox";
@import "./mixin";
@import "./nav";
@import "./utils";
@import "./dashboard";

body {
  font-family: "Lato", sans-serif;
  background-color: #f9fbfd;
}

.App {
  display: grid;
  background-color: #f9fbfd;

  .main-layout {
    border-radius: 12px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: 50px;
    padding: 10px 0 10px 10px;
    margin-right: 15px;
    width: 100%;
    max-width: 100vw;
  }

  @include responsive($desktop-breakpoint) {
    grid-template-columns: $navWidth 1fr;

    .main-layout {
      grid-column: 2/3;
      max-width: calc(100vw - #{$navWidth * 1.1});
      // min-height: 100vh;
      // background-color: lighten($primary-color,40);
      // -webkit-box-shadow: 0 10px 25px 0 rgb(0 0 0 / 3%);
      // box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.1);
      // box-shadow: 0 7px 14px 0 rgba(0, 0, 0, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 3%);
    }
  }
}

.login-page {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 3px solid $primary-color;
  background-color: #fff;
  width: 100vw;
}

.progressbar-css {
  width: 65% !important;
  margin: 0 auto;
}

.RSPBprogressBar {
  height: 3px !important;
  margin: 50px 0px;
}

// .indexedStep {
//   color: white;
//   width: 20px;
//   height: 20px;
//   font-size: 12px;
//   background-color: rgba(211, 211, 211, 0.8);
//   border-radius: 50%;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

.indexedStep.accomplished {
  background-color: rgb(0, 83, 155);
}

.view-padding {
  padding: 15px 15px !important;
}

.view-heading,
.view-subheading {
  letter-spacing: 0.02em !important;
  font-size: 0.9rem !important;
  font-weight: 600;
  color: #6c757d;
  font-family: "Lato", sans-serif;
  margin-bottom: 0.5rem !important;
}

.view-top-pad {
  margin-bottom: 20px !important;
}

.view-subheading {
  font-weight: 400;
}

// @keyframes ripple {
//   0% {
//     box-shadow: 0 0 0 0rem rgba($ripple-color, 0.2),
//                 0 0 0 1rem rgba($ripple-color, 0.2),
//                 0 0 0 2rem rgba($ripple-color, 0.2),
//                 0 0 0 5rem rgba($ripple-color, 0.2);
//   }
//   100% {
//     box-shadow: 0 0 0 1rem rgba($ripple-color, 0.2),
//                 0 0 0 2rem rgba($ripple-color, 0.2),
//                 0 0 0 5rem rgba($ripple-color, 0.2),
//                 0 0 0 8rem rgba($ripple-color, 0);
//   }
// }

// .progressbar-css-ripple
// {
//   animation: ripple 3s linear infinite;
// }

.form-container {
  display: grid;
  grid-template-columns: 1fr;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;

  &.single-col {
    grid-template-columns: 1fr;
  }

  @include responsive($desktop-breakpoint) {
    grid-template-columns: 1fr 1fr;

    // .form-control {

    // }
  }
}

hr {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
